<div class=container>
  <% posts.each do |post| %>
  <div class="user-post">
    <div class="post-title">
      <%= link_to post.title, post_path(post.id) %>
    </div>
    <div class="post-image">
      <%= link_to post_path(post.id) do %>
        <%= attachment_image_tag post, :image %>
      <% end %>
    </div>
    <div class="post-info d-flex flex-row bd-highlight">
      <div class="p-2 bd-highlight">
      </div>
      <div class="p-2 bd-highlight">
        <%= post.text %>
      </div>
    </div>
  </div>
  <% end %>
</div>