<h2><%= @post.title %></h2>
<%= attachment_image_tag @post, :image, :fill, 100, 100 %>
<h3><%= @post.text %></h3>

<% if @post.user == current_user %>
  <%= link_to "削除", post_path(@post), method: :delete %>
<% end %>